html{
	height: 100%;
}
body{
	padding: 20px;
	background-image: url("images/1.jpg");
	background-size:cover;
	font-family: Georgia, Times, serif;
}
p, h1, h2{
	font-weight: normal;
	color: #0088dd;
	margin:0px;
}
p{
	font:150%;
	color: #de6581;
}
h1{
	font-family: Georgia, Times, serif;
	font-size: 250%;
	text-shadow: 2px 2px 3px #666666;
	padding-bottom: 10px;
	}
h2{
	font-family: "Gill Sans", Arial, sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	
}
